@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --crewmate: rgb(163, 246, 246);
    --impostor: red;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

input, button {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url("images/impostor-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

#question {
    padding: 0.7rem 1rem;
    width: 15rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

#submit {
    border: none;
    padding: 0.7rem 1rem;
    outline: none;
    border-radius: 0.5rem;
    background-color: var(--crewmate);
}

#character {
    width: 200px;
    -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}