#card1Button {
    width: 25vw;
    height: 16vw;
    background: url("../img/envelope1.png");
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
  }
  #card2Button {
    width: 25vw;
    height: 16vw;
    background: url("../img/envelope2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
  }
  #card3Button {
    width: 25vw;
    height: 16vw;
    background: url("../img/envelope3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
  }
.cardSelection {
    padding: 8vw;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.cardchild1 {
    grid-row: 1;
}
.cardchild2 {
    grid-row: 1;
}
.cardchild3 {
    grid-row: 1;
}