/* Fonts */
/* Inter */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Inter/static/Inter-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Inter/static/Inter-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Inter/static/Inter-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inter/static/Inter-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "IBM_Plex_Mono";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf") format("truetype");
}

:root {
    --section-transition: ease 0.25s;
    --canvas-width-big: 569px;
    --canvas-width-small: 278px;
    --canvas-height-big: 400px;
    --canvas-height-small: 220px;
    --back-gradient: linear-gradient(180deg, #AE50B0 0%, #2C1854 100%);
    --purple-trans: #9747ff6e;
    --purple-border: #9747ff;
    --pink:#e601fa6e;
    --pink-border: #CC77E0;
    --back-blur: 17.5px;
}