#card1Button {
    width: 350px;
    height: 250px;
    background: url("./images/envelope1.png");
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    overflow: hidden;
  }
  #card2Button {
    width: 200px;
    height: 400px;
    /* background: url("whatever image for card2");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    opacity: 1;
    position: relative;
    overflow: hidden;
  }
  #card3Button {
    width: 200px;
    height: 400px;
    /* background: url("whatever image for card3");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    opacity: 1;
    position: relative;
    overflow: hidden;
  }