@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --crewmate: rgb(163, 246, 246);
    --impostor: red;
}
*{
  /* border: 1px red solid; */
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

input, button {
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url("images/crewmate-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-position: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

#question {
    padding: 0.7rem 1rem;
    width: 15rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
}

#submit {
    border: none;
    padding: 0.7rem 1rem;
    outline: none;
    border-radius: 0.5rem;
    background-color: var(--crewmate);
}

#character {
    width: 200px;
    -webkit-animation: mover 1.5s infinite  alternate;
    animation: mover 1.5s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  
}

.container p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}



@media only screen and (max-width: 767px), 
screen and (max-height: 480px){
  *{
    /* border: 1px blue solid; */
  }
  body{
    background-size: 700px;
    background-position: center top;
  }
  main{
    gap: 0;
  }
  h1{
    font-size: 15px;
    margin-top: 20px;
  }
  #character{
    width: 35vw;
    max-width: 150px;
  }
  #question{
    box-sizing: border-box;
    margin-bottom: 10px;
    width: 100%;
  }
  #submit{
    width: 100%;
  }
  #answer{
    position: absolute;
    /* transform: translate(-120px); */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }

}
